<!DOCTYPE html>
<html>
<head>
<title>Query List</title>
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../../assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/jquery.dataTables.min.js"></script>
<script src="../../assets/js/dataTables.buttons.min.js"></script>
<script src="../../assets/js/dataTables.select.min.js"></script>
<script src="../../assets/js/dataTables.bootstrap4.min.js"></script>
<script src="../../assets/js/dataTables.editor.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
    $('#usuarios').DataTable({
	   ajax: "/telefones",
	   
	   "language": {
    "sEmptyTable": "Nenhum registro encontrado",
    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
    "sInfoPostFix": "",
    "sInfoThousands": ".",
    "sLengthMenu": "_MENU_ resultados por página",
    "sLoadingRecords": "Carregando...",
    "sProcessing": "Processando...",
    "sZeroRecords": "Nenhum registro encontrado",
    "sSearch": "Pesquisar",
    "oPaginate": {
        "sNext": "Próximo",
        "sPrevious": "Anterior",
        "sFirst": "Primeiro",
        "sLast": "Último"
    },
    "oAria": {
        "sSortAscending": ": Ordenar colunas de forma ascendente",
        "sSortDescending": ": Ordenar colunas de forma descendente"
    }
},
    "columnDefs": [
        {
            "targets": 2,
            "render": function (data, type, row) {
				 var deleteBtn = '<button onclick="deletar('+data +')">Deletar</button>';
                 return deleteBtn;
            }},
			{
                "targets": 3,
                "render": function (data, type, row) {
				 var alteraBtn = '<button onclick="alterarModal('+data +')">Alterar</button>';
                 return alteraBtn;
            }
        }
    ]}
	   );
} );
function deletar(id){
  $.ajax({
    url: '/telefones/'+id,
    type: 'DELETE',
    success: function(result) {
		alert(result);
		location.reload();
    }
  });
}
   function mudaUF(){
  $.ajax({
    url: '/telefones/cidades/'+$('#uf').val(),
    type: 'GET',
    success: function(result) {
		var cidades = JSON.parse(result);
		var selectCidade = $('#cidade');
		selectCidade.empty();
		for(var i=0;i<cidades.length;i++){
		  selectCidade.append($('<option></option>').val(cidades[i].Id).html(cidades[i].Nome));
		}
   }
   }
   );
   }
   
function alterarModal(id){
   $.ajax({
    url: '/telefones/'+id,
    type: 'GET',
    success: function(result) {
	    var telefone = JSON.parse(result);
	    $('#nome').val(telefone.descricao);
		$('#numero').val(telefone.numero);
		$('#categoria').val(telefone.categoria);
		$('#uf').val(telefone.estado);
		mudaUF();
		$('#cidade').val(telefone.idcidade);
		var palavras = '';
		for(var i = 0;i <telefone['chaves'].length;i++){
		  palavras = palavras + telefone['chaves'][i].nome + "\n";
		}
		$('#palavras').val(palavras);
		$('#id').val(telefone.id);
		$('#alterar').modal('show');
    }
  });  
}

function alterar(){
  $.ajax({
    url: '/telefones/'+$('#id').val(),
    type: 'PUT',
	data:{
	  nome: $('#nome').val(),
	  numero: $('#numero').val(),
	  categoria: $('#categoria').val(),
	  cidade: $('#cidade').val(),
	  palavras: $('#palavras').val()
	  },
    success: function(result) {
	    alert(result);
		location.reload();
    }
  });  
}

</script>
<div id="alterar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	    <h4>Alterar Telefone</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
	    <form>
	    <div class="form-group">
          <label for="nome">Nome do Serviço:</label>
		  <input type="text" id="nome" class="form-control" placeholder="Nome do serviço"></input>
		</div>
		<div class="form-group">
          <label for="categoria">Categoria:</label>
		  <select id="categoria" class="form-control"></select>
		</div>
		<div class="form-group">
		  <label for="numero">Numero do telefone(com DD):</label>
		  <input type="text" id="numero" class="form-control" placeholder="Telefone"></input>
		</div>
		<div class="form-group">
		  <label for="uf">Estado:</label>
				<select id="uf"  class="form-control" onchange="mudaUF()">
						<option value="AC">Acre</option>
						<option value="AL">Alagoas</option>
						<option value="AP">Amapá</option>
						<option value="AM">Amazonas</option>
						<option value="BA">Bahia</option>
						<option value="CE">Ceará</option>
						<option value="DF">Distrito Federal</option>
						<option value="ES">Espírito Santo</option>
						<option value="GO">Goiás</option>
						<option value="MA">Maranhão</option>
						<option value="MT">Mato Grosso</option>
						<option value="MS">Mato Grosso do Sul</option>
						<option value="MG">Minas Gerais</option>
						<option value="PA">Pará</option>
						<option value="PB">Paraíba</option>
						<option value="PR">Paraná</option>
						<option value="PE">Pernambuco</option>
						<option value="PI">Piauí</option>
						<option value="RJ">Rio de Janeiro</option>
						<option value="RN">Rio Grande do Norte</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="RO">Rondônia</option>
						<option value="RR">Roraima</option>
						<option value="SC">Santa Catarina</option>
						<option value="SP">São Paulo</option>
						<option value="SE">Sergipe</option>
						<option value="TO">Tocantins</option>
				</select>
		</div>
		<div class="form-group">
			<label for="cidade">Cidade</label>
			<select id="cidade" class="form-control"></select>
		</div>
		<div class="form-group">
			<label for="palavras">Palavras-Chaves</label>
			<textarea class="form-control" id="palavras" rows="3"></textarea>
		</div>	  		
		<input type="hidden" id="id"></input>
		</form>
      </div>
      <div class="modal-footer">
	    <button type="button" id="btnAltera" class="btn btn-primary" onclick="alterar()">Ok</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
 </div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <a class="navbar-brand" href="#">Query List</a>
  
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarLista" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Telefones</a>
        <div class="dropdown-menu" aria-labelledby="navbarLista">
          <a class="dropdown-item" href="../telefones/cadastrar.html">Cadastrar</a>
          <a class="dropdown-item" href="#">Listar</a>
        </div>	  
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarUsuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuários</a>
        <div class="dropdown-menu" aria-labelledby="navbarUsuarios">
          <a class="dropdown-item" href="cadastrar.html">Cadastrar</a>
          <a class="dropdown-item" href="lista.html">Listar</a>
        </div>	  
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Sair</a>
    </li>
  </ul>
</nav>
<table id="usuarios" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
				<th></th>
				<th></th>
            </tr>
        </thead>
    </table>
</body>
</html>