<!DOCTYPE html>
<html>
<head>
<title>Query List</title>
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../../assets/css/login.css" rel="stylesheet" id="bootstrap-css">
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
</head>
<body>
 <script type="text/javascript">
     function recuperarSenha(){
	   $('#recuperarSenha').modal('show');	
	 }
	 function logar(){
	   event.preventDefault();
	   $.post('/login', 
        {usuario: $('#login').val(),
        senha: $('#password').val()},
		function(data, status){
		  if (data == 'true'){
		    window.location.href = '/admin';
		  }
		  else{
		    alert('Usuário não encontrado');
		  }
		});	   
	 }
		
	</script>
	 <div class="loader"></div> 
<div id="recuperarSenha" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	    <h4>Recuperar Senha</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <label for="login">Informe seu usuário:</label>
		<input type="text" placeholder="Usuário"></input>
      </div>
      <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="../../assets/img/logo.png" id="icon" alt="logo" />
    
    </div>

 
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuário" required>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha" required>
      <input type="submit" class="fadeIn fourth" value="Logar" onclick="logar()">
    </form>


    <div id="formFooter">
	  <a href="#" id="recuperar" onclick="recuperarSenha()">Esqueci minha senha</a>
    </div>

  </div>
</div>

</body>
</html>